@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: black;
}

#canvas1 {
  background-image: url("../public/backgrounds/navbg.jpg");
  background-position: center;
  background-size: cover;
}

.contact {
  background-image: url("../public/backgrounds/contactmobile.jpg");
  background-position: center;
  background-size: cover;
}

svg {
  display: none;
}

.textshadow {
  text-shadow: 0.3rem 0.3rem 0.4rem #000;
}

@media (min-width: 1280px) {
  .contact {
    background-image: url("../public/backgrounds/contactbg.jpg");
  }
}
