@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: black;
}

.canvas1 {
  background-image: url("../public/backgrounds/navmobileBG.jpg");
  background-position: center;
  background-size: cover;
}
.contact {
  background-image: url("../public/backgrounds/contactmobile.jpg");
  background-position: center;
  background-size: cover;
}
.more {
  background-image: url("../public/backgrounds/newbg.jpg");
  background-position: center;
  background-size: cover;
}
.project {
  background-image: url("../public/backgrounds/projectmobile.jpg");
  background-position: center;
  background-size: cover;
}
svg {
  display: none;
}

.textshadow {
  text-shadow: 0.3rem 0.3rem 0.4rem #000;
}

@media (min-width: 1280px) {
  .canvas1 {
    background-image: url("../public/backgrounds/navbg.jpg");
  }
  .more {
    background-image: url("../public/backgrounds/morebg.jpg");
  }
  .project {
    background-image: url("../public/backgrounds/projectbg.jpg");
  }
}

@media (min-width: 1080px) {
  .contact {
    background-image: url("../public/backgrounds/contactbg.jpg");
  }
}
