@keyframes float {
  0%,
  to {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-20px);
  }
}
@keyframes float2 {
  0%,
  to {
    transform: translatey(0);
  }
  50% {
    transform: translatey(20px);
  }
}
#nav,
.nav-container {
  position: absolute;
}
.nav-container {
  width: 80vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-label {
  z-index: 999;
  color: transparent;
  text-align: center;
  transition: 0.6s ease-in-out;
  transform: translatey(0);
  -webkit-animation: float 6s ease-in-out infinite;
  animation: float 5s ease-in-out infinite;
}
.nav-label-middle {
  animation: float2 5s ease-in-out infinite;
}
.nav-label:hover {
  color: #fff;
  text-align: center;
}
.nav-span {
  padding-top: 7rem;
}
.blurred::after,
.blurred::before,
.nav-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav-icon {
  border-radius: 100%;
  z-index: 10;
}
.nav-icon {
  height: 80%;
  font-size: 20px;
}
.blurred {
  position: relative;
  top: 0;
  left: 0;
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  filter: url(#goo);
  box-shadow: 0.7rem 0.5rem 1rem #000;
}
.blurred::after,
.blurred::before {
  content: "";
  border: 100%;
  transition: 2s cubic-bezier(0, 2, 0.61, -0.05);
}
.nav-top {
  padding-bottom: 0.5rem;
  z-index: 11;
  text-decoration: none;
}
@media (min-width: 188px) {
  .nav-label {
    color: #fff;
    text-align: center;
    transition: 0.6s ease-in-out;
  }
  .nav-container {
    flex-direction: column;
  }
  .blurred:hover .blurred::after {
    width: 1.75rem;
    height: 1.75rem;
    top: 7.5rem;
    left: 8.2rem;
  }
  .button:hover .blurred > span:nth-of-type(1) {
    width: 2rem;
    height: 2rem;
    top: -2rem;
    left: -3rem;
    background-color: #193349;
  }
  .button:hover .blurred > span:nth-of-type(2) {
    width: 2.5rem;
    height: 2.5rem;
    top: 40px;
    left: -2.5rem;
    background-color: #0a2136;
  }
  .button:hover .blurred > span:nth-of-type(3) {
    width: 1rem;
    height: 1rem;
    top: 6rem;
    left: 7rem;
    background-color: #1a2832;
  }
  .button:hover .blurred > span:nth-of-type(4) {
    width: 3.5rem;
    height: 2rem;
    top: 0;
    left: 7rem;
    background-color: #15324c;
  }
  .button:hover .blurred > span:nth-of-type(5) {
    width: 2.5rem;
    height: 2rem;
    top: 10rem;
    left: 2rem;
    background-color: #263645;
  }
  .button:hover .blurred > span:nth-of-type(6) {
    width: 1rem;
    height: 1rem;
    top: -3rem;
    left: 4rem;
    background-color: #081927;
  }
  .blurred {
    position: relative;
    top: 0;
    left: 0;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    filter: url(#goo);
  }
  .blurred > span:nth-of-type(1),
  .blurred > span:nth-of-type(2),
  .blurred > span:nth-of-type(3),
  .blurred > span:nth-of-type(4),
  .blurred > span:nth-of-type(5),
  .blurred > span:nth-of-type(6),
  .blurred > span:nth-of-type(7) {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 0;
    left: 0;
    background-color: #4b667e;
    border-radius: 100%;
    transition: 2s cubic-bezier(0, 2, 0.61, -0.05);
  }
  .blurred:hover .blurred::before {
    width: 5rem;
    height: 5rem;
    top: 50%;
    left: 50%;
  }
  .button {
    position: relative;
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    cursor: pointer;
  }
}
@media (min-width: 641px) {
  .nav-span {
    font-size: 2rem;
  }
  .nav-container {
    flex-direction: row;
  }
  .blurred:hover .blurred::after {
    width: 3.5rem;
    height: 3.5rem;
    top: 7.5rem;
    left: 8.2rem;
  }
  .button:hover .blurred > span:nth-of-type(1) {
    width: 4rem;
    height: 4rem;
    top: -2rem;
    left: -3rem;
    background-color: #2a6ca5;
  }
  .button:hover .blurred > span:nth-of-type(2) {
    width: 5rem;
    height: 5rem;
    top: 40px;
    left: -2.5rem;
    background-color: #1d578b;
  }
  .button:hover .blurred > span:nth-of-type(3) {
    width: 2rem;
    height: 2rem;
    top: 6rem;
    left: 7rem;
    background-color: #153651;
  }
  .button:hover .blurred > span:nth-of-type(4) {
    width: 7rem;
    height: 4rem;
    top: 0;
    left: 7rem;
    background-color: #2066a3;
  }
  .button:hover .blurred > span:nth-of-type(5) {
    width: 5rem;
    height: 4rem;
    top: 10rem;
    left: 2rem;
    background-color: #0e395f;
  }
  .button:hover .blurred > span:nth-of-type(6) {
    width: 2rem;
    height: 2rem;
    top: -3rem;
    left: 4rem;
    background-color: #154671;
  }
  .blurred {
    position: relative;
    top: 0;
    left: 0;
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    filter: url(#goo);
  }
  .blurred > span:nth-of-type(1),
  .blurred > span:nth-of-type(2),
  .blurred > span:nth-of-type(3),
  .blurred > span:nth-of-type(4),
  .blurred > span:nth-of-type(5),
  .blurred > span:nth-of-type(6),
  .blurred > span:nth-of-type(7) {
    position: absolute;
    width: 7rem;
    height: 7rem;
    top: 0;
    left: 0;
    background-color: #4b667e;
    border-radius: 100%;
    transition: 2s cubic-bezier(0, 2, 0.61, -0.05);
  }
  .blurred:hover .blurred::before {
    width: 7rem;
    height: 7rem;
    top: 50%;
    left: 50%;
  }
  .button {
    position: relative;
    width: 7rem;
    height: 7rem;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  .nav-label {
    color: transparent;
    text-align: center;
    transition: 0.6s ease-in-out;
  }
}
@media (max-width: 1280px) {
  .nav-span {
    padding: 0;
  }
  .nav-container {
    justify-content: space-evenly;
  }
}
.nav-social-icon {
  width: 3rem;
  margin: 0.75rem;
  transition: 0.5s;
}
.nav-social-icon:hover {
  width: 3.5rem;
}
.nav-social {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 998;
  height: 0;
}
